.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  min-height: 100%;
}

.content {
  margin-top: 7vh;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

nav {
  z-index: 5;
}