@import '../../../styles.scss';

.restaurant-form {
    background: $main-red;
    padding: 20px 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    font-weight: bold;

    h1 {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    div {
        display: flex;
        margin: 5px 0;
        width: 100%;
        text-transform: uppercase;
        
        label {
            width: 30%;
            height: 100%;
            padding: 10px 20px;
        }

        input {
            width: 100%;
            margin-right: 20px;
            padding: 1px 0;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            background: none;
            outline: none;
        }
    }

    .object-input {
        display: flex;
        flex-direction: column;
        width: 90%;

        h2 {
            margin: 5px;
        }

        label {
            background: rgba(0, 0, 0, 0.3);
            width: 170px;
            height: 100%;
            padding: 10px;
        }

        textarea {
            width: 100%;
            margin-right: 20px;
            padding: 10px;
            border: none;
            background: rgba(255, 255, 255, 0.3);
            outline: none;
        }

        button {
            background: rgba(255, 255, 255, 0.4);
            padding: 10px 20px;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            margin: 20px;
            cursor: pointer;
        }
    }

}