.edit-container {
  .section-1 {
    width: 100%;
    background: black;
    padding-bottom: 10px;

    .edit-options {
      width: 100%;
      color: white;
      justify-content: space-around;
      text-transform: uppercase;
      font-weight: bold;
      span {
        padding: 5px 15px;
        margin-top: 15px;
        font-size: 1.4rem;
        cursor: pointer;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .section-2 {
    display: relative;
    width: 100%;

    ul {
      list-style-type: none;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-auto-rows: minmax(60px, auto);
      align-items: center;
      
      li {
        background: rgba(255, 255, 255, 0.3);
        height: max-content;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);

        :hover {
          background: rgba(255, 255, 255, 0.75);
        }

        .button-edit {
          height: 60px;
          font-size: 1.2rem;
          justify-content: space-between;
          padding: 10px 20px;
          font-weight: bold;

          div {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background: none;
          }
        }

        svg {
          margin-left: 10px;
        }
      }
    }
  }
}
